footer {
    background-color: #07071c;
    padding: 10px 15px;
    @include flex (flex, wrap, row, space-between, center);
    i {
        color: #0077b5
    }
    p {
    text-decoration: none;
    font-size: nth($font-size, 1);
    color: $color-terciario;
    padding-right: 5px;
    text-align: right;
    margin: 0;
    }
}