/*!------HEADER------*/
main {
    background-color: $color-principal;
    color: $color-terciario;

    /*----HERO----*/
    section {
        .video-wrapper-hero {
            border: 2px solid #000;
            width: 100%;
            position: relative;
            overflow: hidden;
            text-align: center;

            video {
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
            }

            .flex-container-hero {
                position: relative;
                width: 100%;
                min-height: 700px;
                text-align: left;
                padding-left: 20px;
                @include flex (flex, wrap, column, flex-start, flex-start);

                h1 {
                    font-size: nth($font-size, 19);
                    font-weight: 600;
                    line-height: 1em;
                    letter-spacing: -2px;
                    padding-top: 100px;
                }

                span {
                    p {
                        font-size: nth($font-size, 4);
                        padding-right: 20px;
                        padding-top: 0px;
                        margin: 0;
                    }
                }

                .btn-soluciones {
                    font-size: nth($font-size, 6);
                    padding: 15px 25px;
                    border-radius: 50px;
                    @extend %btn-general-format;
                    @include flex (flex, wrap, row, space-around, center);
                    margin-top: 100px;
                    max-width: 150px;
                    text-align: center;

                    &:hover,
                    &:focus {
                        @extend %btn-hover-focus;
                        padding: 20px 27px;
                    }
                }
            }
        }
    }

    /*----SOLUCIONES----*/
    section {
        div.flex-container-h2-p {
            text-align: center;
            padding: 15px 150px 30px 150px;
        }

        div.soluciones {
            padding-top: 78px;
            margin: 0;

            h2 {
                font-size: nth($font-size, 16);
            }

            p {
                font-size: nth($font-size, 4);
            }
        }

        div.flex-container-tarjetas {
            @include flex (flex, wrap, row, space-around, center);
            padding-bottom: 60px;

            div.tarjetas {
                max-width: 500px;
                border: 1px $color-terciario solid;
                text-align: center;
                margin: 10px 15px;
                @include flex (flex, wrap, column, center, center);

                img {
                    max-width: 100%;
                }

                h3 {
                    height: 40px;
                    margin-top: 8px;

                    a.btn-tarjetas {
                        font-size: nth($font-size, 2);
                        padding: 8px;
                        border-radius: 25px;
                        @extend %btn-general-format;
                        @include flex (flex, wrap, row, space-around, center);
                        margin-top: 3px;

                        &:hover,
                        &:focus {
                            @extend %btn-hover-focus;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }

    /*----PARTNERS----*/
    section.partners {
        background-color: $color-terciario;
        padding: 10px 5px 10px 5px;
        @include flex (flex, wrap, row, space-evenly, center);

        div {
            img {
                max-width: 172px;
                max-height: 50px;
                margin: 5px;
            }
        }
    }

    /*----PRECONTACTO----*/
    section.precontacto {
        min-height: 400px;
        text-decoration: none;
        color: $color-terciario;
        padding: 15px;
        @include flex (flex, wrap, row, space-between, center);
        text-align: center;

        .preguntas {
            min-width: 325px;
            margin: 10px;
            font-size: nth($font-size, 12);
            max-width: 40%;
            text-align: center;

            p {
                margin: 0 0 30px 0;
            }
        }

        .respuestas {
            min-width: 325px;
            margin: 10px;
            max-width: 40%;
            @include flex (flex, wrap, column, center, center);
            padding-bottom: 20px;
            text-align: center;

            p {
                font-size: nth($font-size, 7);
                text-align: center;
                margin: 0;
            }

            .btn-respuestas {
                font-size: nth($font-size, 6);
                padding: 12px 25px;
                border-radius: 50px;
                @extend %btn-general-format;
                @include flex (flex, wrap, row, space-around, center);
                margin-top: 100px;

                &:hover,
                &:focus {
                    @extend %btn-hover-focus;
                    padding: 15px 29px;
                }
            }
        }
    }

    /*----INFORMACION----*/
    section.informacion {
        width: 100%;
        min-height: 350px;
        background-image: url("../img/backgroundinformacion.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        text-decoration: none;
        color: $color-terciario;
        @include flex (flex, wrap, row, space-around, center);

        div.info-dire {
            @include flex (flex, wrap, row, space-around, center);

            img {
                max-width: 250px;
                padding: 30px;
            }

            div.matricula {
                padding: 30px;

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }
            }
        }

        div.info-dire ñ div.mapa {
            iframe {
                max-width: 350px;
                padding: 30px;
            }
        }

        div.direccion {
            padding: 30px;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }
        }
    }

    /*----ASESORAMIENTO----*/
    section.flex-asesoramiento {
        @include flex (flex, wrap, column, center, center);
        width: 100%;

        div.video-wrapper-asesoramiento {
            border: 2px solid #000;
            width: 100%;
            position: relative;
            overflow: hidden;
            text-align: center;
            @include flex (flex, wrap, row, center, center);

            video {
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
            }

            div.flex-container-asesoramiento-h2-p {
                position: relative;

                div {
                    h2 {
                        padding: 50px;
                        margin: 0;
                    }
                }

                div.grid-container-asesoramiento {
                    padding: 30px;
                    display: grid;
                    gap: 10px;
                    grid-template-rows: 200px 200px 50px;
                    grid-template-columns: 1fr 0.05fr 1fr 1fr 0.05fr 1fr;

                    div.grid-items-contacto {
                        grid-column: 1/3;
                        grid-row: 1/2;
                        text-align: left;

                        h3 {
                            @extend %h3-inversiones;

                            &::first-letter {
                                font-size: nth($font-size, 21);
                                color: $color-secundario;
                                float: left;
                                margin-right: 20px;
                                margin-top: -10px;
                            }

                            p {
                                font-size: nth($font-size, 3);
                                inline-size: 370px;
                                text-shadow: black 1px 1px 3px;
                                text-align: inherit;
                            }
                        }
                    }

                    div.grid-items-analisis {
                        grid-column: 2/4;
                        grid-row: 2/3;
                        text-align: right;

                        h3 {
                            @extend %h3-inversiones;

                            &::first-letter {
                                font-size: nth($font-size, 21);
                                color: $color-secundario;
                                float: right;
                                margin-left: 20px;
                                margin-top: -10px;
                            }
                        }
                    }

                    div.grid-items-ejecucion {
                        grid-column: 4/6;
                        grid-row: 1/2;
                        text-align: left;

                        h3 {
                            @extend %h3-inversiones;

                            &::first-letter {
                                font-size: nth($font-size, 21);
                                color: $color-secundario;
                                float: left;
                                margin-right: 20px;
                                margin-top: -10px;
                            }

                            p {
                                font-size: nth($font-size, 3);
                                inline-size: 370px;
                                text-shadow: black 1px 1px 3px;
                                text-align: inherit;
                            }
                        }
                    }

                    div.grid-items-resultados {
                        grid-column: 5/7;
                        grid-row: 2/3;
                        text-align: right;

                        h3 {
                            @extend %h3-inversiones;

                            &::first-letter {
                                font-size: nth($font-size, 21);
                                color: $color-secundario;
                                float: right;
                                margin-left: 20px;
                                margin-top: -20px;
                            }
                        }
                    }

                    div.grid-items-hablemos {
                        grid-column: 1/7;
                        grid-row: 3/4;

                        a {
                            max-width: 200px;
                            font-size: nth($font-size, 6);
                            text-align: center;
                            padding: 10px 20px;
                            border-radius: 30px;
                            @extend %btn-general-format;

                            &:hover {
                                @extend %btn-hover-focus;
                                padding: 11px 21px;
                            }
                        }
                    }
                }
            }
        }
    }

    /*----FINANCIAMIENTO----*/
    section.financiamiento {
        padding: 0px 10px 40px 10px;
        @include flex (flex, wrap, column, center, center);

        div.grid-container-financiamiento {
            max-width: 1375px;
            margin: 5px auto 30px auto;
            padding: 5px;
            display: grid;
            grid-auto-rows: 450px;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;

            div.imagen-financiamiento {
                grid-row: 1/4;
                @include flex (flex, wrap, row, center, center);
            }

            div.grid-items {
                border: 1px $color-terciario solid;
                padding: 20px;
                text-align: center;

                img {
                    max-height: 100%;
                }

                h3 {
                    font-size: nth($font-size, 9);
                    text-align: center;
                    margin: 0;
                }

                p {
                    text-align: center;
                    font-size: nth($font-size, 4);
                    margin: 0;
                    padding: 15px;
                }
            }
        }

        div.btn-normal {
            margin: 10px auto 0 auto;

            a {
                max-width: 200px;
                font-size: nth($font-size, 6);
                text-align: center;
                padding: 10px 20px;
                border-radius: 30px;
                @extend %btn-general-format;
                @include flex (flex, wrap, row, center, center);

                &:hover {
                    @extend %btn-hover-focus;
                    padding: 11px 21px;
                }
            }
        }
    }


    /*----INVERSIONES----*/
    section.inversiones {
        padding: 0 10px 50px 10px;
        @include flex (flex, wrap, column, center, center);

        div.grid-container-inversiones {
            max-width: 1375px;
            margin: 5px auto 30px auto;
            padding: 5px;
            display: grid;
            grid-auto-rows: 400px;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;

            div.flip-card {
                text-align: center;
                background-color: $color-principal;
                perspective: 1000px;

                div.flip-card-inner {
                    border: 1px $color-terciario solid;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    transition: transform 0.6s;
                    transition-delay: 0.25s;
                    transform-style: preserve-3d;

                    &:hover {
                        transform: rotateY(180deg);
                    }

                    div.flip-card-front {
                        padding: 20px;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        -webkit-backface-visibility: hidden;
                        /* Safari */
                        backface-visibility: hidden;
                        

                        img {
                            min-height: 40%;
                            margin-bottom: 15px;
                        }

                        h3 {
                            font-size: nth($font-size, 9);
                            text-align: center;
                            margin: 0;
                        }

                        p {
                            text-align: center;
                            font-size: nth($font-size, 4);
                            margin: 0;
                            padding: 15px;
                        }
                    }

                    div.flip-card-back {
                        width: 100%;
                        height: 100%;
                        transform: rotateY(180deg);
                        -webkit-backface-visibility: hidden;
                        /* Safari */
                        backface-visibility: hidden;
                        background: rgb(14, 172, 212);
                        background: linear-gradient(218deg, rgba(14, 172, 212, 1) 0%, rgba(156, 49, 255, 1) 100%);

                        p {
                            text-align: center;
                            font-size: nth($font-size, 6);
                            margin: 0;
                            padding: 40px;
                            text-shadow: black 0.5px 0.5px 0.5px;
                        }
                    }
                }
            }
        }

        div.btn-normal {
            margin: 10px auto 0 auto;

            a {
                max-width: 200px;
                font-size: nth($font-size, 6);
                text-align: center;
                padding: 10px 20px;
                border-radius: 30px;
                @extend %btn-general-format;
                @include flex (flex, wrap, row, space-around, center);

                &:hover {
                    @extend %btn-hover-focus;
                    padding: 11px 21px;
                }
            }
        }

    }

    /*----INVERSIONES
    section.inversiones {
        padding: 0 10px 50px 10px;
        @include flex (flex, wrap, column, center, center);
        div.grid-container-inversiones{
            max-width: 1375px;
            margin: 5px auto 30px auto;
            padding: 5px;
            display: grid;
            grid-auto-rows: 400px;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
            div.grid-items {
                border: 1px $color-terciario solid;
                padding: 20px;
                text-align: center;
                img {
                    max-height: 100%;
                }
                h3 {
                    font-size: nth($font-size, 9);
                    text-align: center;
                    margin: 0;
                }
                p {
                    text-align: center;
                    font-size: nth($font-size, 4);
                    margin: 0;
                    padding: 15px;
                }
            }
        }
        div.btn-normal {
            margin: 10px auto 0 auto;
            a {
                max-width: 200px;
                font-size: nth($font-size, 6);
                text-align: center;
                padding: 10px 20px;
                border-radius: 30px;
                @extend %btn-general-format;
                @include flex (flex, wrap, row, space-around, center);
                &:hover {
                    @extend %btn-hover-focus;
                    padding: 11px 21px;
                }
            }
        }
    }
----*/

    /*----CONTACTO----*/
    section.contacto {
        .contacto {
            margin: 0;
            text-align: center;
        }

        h2.contacto {
            font-size: nth($font-size, 13);
            padding: 30px 0;
        }

        p.contacto {
            padding: 0 15px 15px 15px;
        }
    }

    section.formulariocontacto {
        div.formulariocontacto {
            padding-bottom: 40px;
            @include flex (flex, wrap, column, center, center);

            form {
                min-width: 250px;
                max-width: 95%;
                border: 1px $color-terciario solid;
                padding: 15px;
                @include flex (flex, wrap, column, space-evenly, center);

                fieldset {
                    div.name {
                        padding: 10px 70px 10px 10px;
                        margin-left: 0px;

                        input.name {
                            min-width: 95%;
                        }
                    }
                }

                fieldset {
                    div.email {
                        padding: 10px;

                        input.email {
                            min-width: 95%;
                        }
                    }
                }

                fieldset.msj {
                    padding: 10px;
                    font-size: nth($font-size, 4);
                }

                fieldset.btn-contacto {
                    .btn-enviar {
                        max-width: 200px;
                        font-size: nth($font-size, 6);
                        text-align: center;
                        padding: 10px 25px;
                        border-radius: 30px;
                        margin-top: 15px;
                        @extend %btn-general-format;
                        @include flex (flex, wrap, row, center, center);

                        &:hover {
                            @extend %btn-hover-focus;
                            padding: 12px 28px;
                        }
                    }
                }
            }
        }
    }
}