<<<<<<< HEAD
<<<<<<< HEAD
/*!------EL RESET------*/
/*!------TODO LO QUE SE REPITE------*/
=======
/*!------FUENTE------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*!------RESET------*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


//! LISTAS
$font-size: 12px, 14px, 15px, 16px, 17px, 18px, 20px, 22px, 24px, 25px, 26px, 29px, 30px, 35px, 47px, 51px, 60px, 63px, 67px, 70px, 80px;


//! EXTENDS
%btn-general-format {
    text-decoration: none;
    color: $color-principal;
    background-color: $color-secundario;
    border: none;
    transition : 680ms;
    transform: translateY(0);
}

%btn-hover-focus {
    color: $color-terciario;
    transform: translateY(-0px);
}

%h3-inversiones {
    font-size: 24px;
    text-shadow: black 1px 1px 1px;
    margin: 0;
}

//! MIXINS
@mixin flex($flex, $wrap, $direction, $justify, $align){
    display: $flex;
    flex-wrap: $wrap;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
>>>>>>> release/v0.1
=======
/*!------EL RESET------*/
/*!------TODO LO QUE SE REPITE------*/
>>>>>>> 879465680c60e49eb416df526cdeb33aa012eaf6
